/* Landing Page CSS */
body {

    background-image: url('../images/login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
}

/* Center the login form vertically */
.min-height {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style the login form */
.login {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(73, 83, 85, 0.2);
}

.login h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.form-check-label {
    font-weight: normal;
}

.btn-dark {
    background-color: #070707;
    border: none;
}

.btn-dark:hover {
    background-color: #5b5d60;
}

.forgot-password,
.signup-link {
    font-size: 0.9rem;
    color: rgb(56, 54, 75);
}

.forgot-password:hover,
.signup-link:hover {
    font-size: 0.9rem;
    color: rgb(147, 141, 141);
}